<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.mapper.TaskMapper">
    <resultMap id="taskResultMap" type="com.lc.domain.Task">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="taskGroup" column="task_group"/>
        <result property="description" column="description"/>
        <result property="taskPloy.id" column="ploy_id"/>
        <result property="config" column="config"/>
        <result property="closed" column="closed"/>
    </resultMap>

    <sql id="columns">
        id, name, task_group, description, ploy_id, config, closed
    </sql>

    <select id="findTaskForList" resultMap="taskResultMap">
        SELECT
        <include refid="columns"/>
        FROM system_task
    </select>
</mapper>